size = 100
stations = abc shell nesteoil seo teboil st1 question
for s in stations
  .ui-icon-{s}
    path = "../images/stationlogos/%s_%s.png" % (s size)
    background url(path) no-repeat
    background-size 100%

.ui-icon-person
  background url("../images/person_40.png") no-repeat
