/* MIXINS */
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
/* /MIXINS */

/* NAVIGATION */
// Custom jQM icons
.ui-icon-drop
  background url("../images/drop18.png") no-repeat rgba(0, 0, 0, 0.4) !important



/* COMMON */
size = 50
.ui-icon-station
  //margin 1em
  width (size)px
  height (size)px
  box-shadow 0 0 10px #222
stations = abc shell nesteoil seo teboil st1 question
for s in stations
  .ui-icon-{s}
    path = "../images/stationlogos/%s_%s.png" % (s size)
    background url(path) no-repeat
.distance-direct
  background url("../images/distance_direct_16.png") no-repeat
  padding-left 22px
.distance-drive
  background url("../images/car_16.png") no-repeat
  padding-left 22px
/* /COMMON */
.ui-custom-hidden
  display none

/* LIST PAGE */
#page-list
  #fueltypes
    .ui-btn
    .ui-select
      margin 0px 5px 2px

  .ui-li
    height 73px
  .ui-li-divider
    height auto

  .ui-listview-filter 
    margin-top 10px
  
  .ui-icon-station
    left 10px
    top 20px
    background-size 100%

  .station-info
    margin-left 60px
  
  .station-info-name
    font-weight bold
    margin-top 2px
  
  // Slider-related styles
  #ranking-slider
    margin 0
    padding 5px 10px
    #slidertable
      width 100%
      #filterslider
        padding 0 25px 0 15px
      .slidericon
        width 40px
        padding 0 5px
    // Hide text box from slider. Can't be done with jqm parameters.
    .ui-slider-input
      display none
  #footer
    border-top 1px solid #999

  div.ui-slider
    margin 0
    width 100%
    padding 5px 0
  .ui-slider-handle
    width 50px
    top -3px
    margin 0 -25px

  // Other stuff related to list
  .ui-li-aside
    padding-right 20px

/* /LIST PAGE */



/* MAP PAGE */
#page-map
#map-canvas
#page-map .ui-content
  // Fill screen
  width 100%
  height 100%
  padding 0
  min-height 380px
  min-width 280px
/* /MAP PAGE */


/* SEARCH PAGE */
#page-search form
  padding 1em
/* /SEARCH PAGE */


/* STATION MAP PAGE */
#page-station-map
#station-map-canvas
#page-station-map .ui-content
  // Fill screen
  width 100%
  height 100%
  padding 0
  min-height 380px
  min-width 280px
/* /STATION MAP PAGE */


/* MENU PAGE */
#page-menu
  background #333
/* /MENU PAGE */

/* STATION PAGE */
#station-details
  #small-map-canvas
    width 100%
    padding 0
    height 180px

  .distance-direct
    background url("../images/distance_direct_24.png") no-repeat
    padding-left 30px
  .address
    float right

  #comments
    margin-top 1em

    #ownid
      font-weight bold
    #list-comments
      list-style-type: none
/* /STATION PAGE */

